.populares {
    padding:  3em 0;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1em 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
    "card-imagem"
    "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
}

.populares__card:last-child {
    margin-right: 0;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5em;
    grid-template-areas: 
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75em;
}

.populares__card___titulo {
    font-size: 1.5em;
    color: #333333;
}

.populares__card___data {
    font-size: .9em;
    color: #808080;
}

.populares__card___descricao {
    color: #333333;
    line-height: 1.5;
    margin: 1em 0;
    text-align: justify;
}

.populares__titulo {
    font-weight: 500;
}

.populares__icone {
    margin-right: .25em;
}

.populares__cabecalho {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
    justify-content: space-between;
}

.populares__botao {
    background: transparent;
    border: none;
    color: #333333;
}